
/*Css van Elia start hier */
/*styling header*/

.s-container-header {
    height: 100vh;
}

.e-parallax-header {
    background-image: url("../img/spring-banner-head.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.e-light-h1 {
    font-weight: 200;
    font-size: 3em;

}

/* end styling header */

.s-opacy-grey-bg {

    background-color: rgba(120, 120, 120, 0.6);

}
.s-row-width-h1 {
    max-width: 90%;
}
/*card interface */
.e-parallax-divider-sm {
    background-image: url("../img/spring-banner-cards.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.5vh;
}
.e-parallax-background-cards {
    background-image: url("../img/spring-banner-cards.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.card-picture {
    width: 50px;
    height: 50px;
    background: transparent;

}
/*end card interface */

/*full screen monitor */
@media only screen and (min-width: 768px) {

    .e-light-h1 {
        font-weight: 200;
        font-size: 4em;
    }

    .s-row-width-h1 {
        max-width: 100%;
    }

    .s-nodisplay {
        display: none;
    }

}

/*css van Elia stopt hier*/
/* Css van jens vanaf hier*/

.my-container{
    border: 2px solid red;
}
.my-row{
    border: 2px solid blue;
}
.my-col{
    border: 2px dotted green;
    background-color: whitesmoke;
}

#navbarMenu{
    padding: 10px;
}

.navbar{
    padding: 10px;
}

#my-carousel{
    padding: 50px;
}

.car-row{
    padding: 50px;
}

.car-col{
    justify-content: center;
}

.form-popup{
    display: none;
    position: fixed;
}
/* Css van jens stopt hier */
/* Css van isaac start hier */
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

/*css van isaac stopt hier */
/*css van paul start hier */

/*Navigation make-up */
.navibarbg{
    background-color: whitesmoke;
    z-index: 1;
   /* background: linear-gradient(0deg, rgb(238, 238, 238), rgb(199, 254, 255)); */

}
/* sticky class for navbar */
.sticky-f {
    position: sticky;
    top: 0;
}
.my-container1-f{
    border-width: 2px;
    border-color: red;
    border-style: solid;
}
.my-row1-f {
    border-width: 1px;
    border-color: blue;
    border-style: dotted;
}
.my-row2-f {
    border-width: 1px;
    border-color: green;
    border-style: dashed;

}
.my-row3-f {
    border-width: 1px;
    border-color: black;
    border-style: double;

}
.col1-f{
    border-width: 1px;
    border-color: yellow;
    border-style: dotted;
}
.col2-f{
    border-width: 1px;
    border-color: #0a072d;
    border-style: dotted;
}
.col3-f{
    border-width: 1px;
    border-color: #087a55;
    border-style: dotted;
}
.f-card {
    box-shadow: #0a072d;
    width: 18rem;
}
.f-card:hover {
    z-index:1;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}

/*parallaxes on fall page*/
.f-parallax{
    /* The image used */
    background-image: url("../img/fall3.jpg");

    /* Set a specific height */
    height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.f-p-block-1{
    font-size: 2em;
    position: absolute;
    top: 9em;
    left: 8em;
}
.f-p-block-2{
    font-size: 2rem;
    position: absolute;
    top: 11rem;
    left: 10rem;
}
.f-parallax2{
    /* The image used */
    background-image: url("../img/fall2.jpg");

    /* Set a specific height */
    height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* box in between parallaxes */
.scrollblock {
    background-color:whitesmoke;
    font-size: 18px;
}
/* footer make-up */
footer {

   /* background: -webkit-linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));
    background: linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255)); */

}
/* pop-up form make-up */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    font-family: Bahnschrift;
}
.form-container>textarea:focus {
    background-color: lightgray;
    outline: none;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 3rem;
    z-index: 2;
}
.form-bg{
    /*background: -webkit-linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));
    background: linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));*/
}
#message{
    max-height: 10em;
    width: 250px;
}

/*css van paul stopt hier */
/* CSS van peter start hier */

