@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700'); /*Css van Elia start hier */
/*styling header*/

.s-container-header {
    height: 100vh;
}

.e-parallax-header {
    background-image: url("../img/spring-banner-head.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.e-light-h1 {
    font-weight: 200;
    font-size: 3em;

}

/* end styling header */

.s-opacy-grey-bg {

    background-color: rgba(120, 120, 120, 0.6);

}
.s-row-width-h1 {
    max-width: 90%;
}
/*card interface */
.e-parallax-divider-sm {
    background-image: url("../img/spring-banner-cards.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.5vh;
}
.e-parallax-background-cards {
    background-image: url("../img/spring-banner-cards.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.card-picture {
    width: 50px;
    height: 50px;
    background: transparent;

}
/*end card interface */

/*full screen monitor */
@media only screen and (min-width: 768px) {

    .e-light-h1 {
        font-weight: 200;
        font-size: 4em;
    }

    .s-row-width-h1 {
        max-width: 100%;
    }

    .s-nodisplay {
        display: none;
    }

}

/*css van Elia stopt hier*/
/* Css van jens vanaf hier*/

.my-container{
    border: 2px solid red;
}
.my-row{
    border: 2px solid blue;
}
.my-col{
    border: 2px dotted green;
    background-color: whitesmoke;
}

#navbarMenu{
    padding: 10px;
}

.navbar{
    padding: 10px;
}

#my-carousel{
    padding: 50px;
}

.car-row{
    padding: 50px;
}

.car-col{
    justify-content: center;
}

.form-popup{
    display: none;
    position: fixed;
}
/* Css van jens stopt hier */
/* Css van isaac start hier */

html, body {
    height: 100%
    width: 100%
    font-family: 'poppins', sans-serif;
    color: #222;
}
.navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 20 px;
}
.nav-link {
    font-size: 1.1em !important;
}
.carousel-inner img {
    width: 100%
    height: 100%
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}
.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500%;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}


/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


/*css van isaac stopt hier */
/*css van paul start hier */

/*Navigation make-up */
.navibarbg{
    z-index: 1;
   /* background: linear-gradient(0deg, rgb(238, 238, 238), rgb(199, 254, 255)); */

}
/* sticky class for navbar */
.sticky-f {
    position: sticky;
    top: 0;
}
.my-container1-f{
    border-width: 2px;
    border-color: red;
    border-style: solid;
}
.my-row1-f {
    border-width: 1px;
    border-color: blue;
    border-style: dotted;
}
.my-row2-f {
    border-width: 1px;
    border-color: green;
    border-style: dashed;

}
.my-row3-f {
    border-width: 1px;
    border-color: black;
    border-style: double;

}
.col1-f{
    border-width: 1px;
    border-color: yellow;
    border-style: dotted;
}
.col2-f{
    border-width: 1px;
    border-color: #0a072d;
    border-style: dotted;
}
.col3-f{
    border-width: 1px;
    border-color: #087a55;
    border-style: dotted;
}
/*parallaxes on fall page*/
.f-parallax{
    /* The image used */
    background-image: url("../img/fall.jpg");

    /* Set a specific height */
    height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f-parallax2{
    /* The image used */
    background-image: url("../img/fall2.jpg");

    /* Set a specific height */
    height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* center grid's class */
.scrollblock {
    background-color:whitesmoke;
    font-size: 18px;
}
/* footer make-up */
footer {

   /* background: -webkit-linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));
    background: linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255)); */

}
/* pop-up form make-up */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    font-family: Bahnschrift;
}
.form-container>textarea:focus {
    background-color: lightgray;
    outline: none;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 3rem;
    z-index: 2;
}
.form-bg{
    /*background: -webkit-linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));
    background: linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));*/
}
#message{
    max-height: 10em;
    width: 250px;
}

/*css van paul stopt hier */
/* CSS van peter start hier */

