.my-container1{
    border-width: 2px;
    border-color: red;
    border-style: solid;
}
.my-row1 {
    border-width: 1px;
    border-color: blue;
    border-style: dotted;
}
.my-row2 {
    border-width: 1px;
    border-color: green;
    border-style: dashed;
}
.my-row3 {
    border-width: 1px;
    border-color: black;
    border-style: double;
}

.b-g{
    /* The image used */
    background-image: url("/img/fall.jpg");

    /* Set a specific height */
    height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}