/*styling header*/
.s-container-header {
    height: 100vh;

}


figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.my-container1{
    border-width: 2px;
    border-color: red;
    border-style: solid;
}
.my-row1 {
    border-width: 1px;
    border-color: blue;
    border-style: dotted;
    height: 300px;
}
.my-row2 {
    border-width: 1px;
    border-color: green;
    border-style: dashed;
    height:300px;
}
.my-row3 {
    border-width: 1px;
    border-color: black;
    border-style: double;
    height: 300px;
}
.col1{
    border-width: 1px;
    border-color: yellow;
    border-style: dotted;
}
.col2{
    border-width: 1px;
    border-color: #0a072d;
    border-style: dotted;
}
.col1{
    border-width: 1px;
    border-color: #087a55;
    border-style: dotted;
}
.sticky {
    position: sticky;
    top: 0;
}
#logo{
    color: #050235;
}





.e-parallax-header {
   background-image: url("../img/spring-banner-head.jpg");
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}

.e-light-h1{
   font-weight:200;
   font-size:3em;

}

/* end styling header */

.s-opacy-grey-bg{

   background-color:rgba(120,120,120,0.6);


}

.spr-text-color{
    color:#333333;

}

.border-test{
    border:solid black 1px;
}

.s-row-width-h1{
   max-width:90%;
}

.s-font-size-1{
    font-size:3em;
}

.sp-font-style-h2{
    font-family: helvetica,sans-serif;
}

.s-border-left{
    border-left:solid green 2px;
    padding-left:5px;
    margin-bottom: 10px;
}

/*card interface */
.e-parallax-divider-sm {
   background-image: url("../img/spring-banner-transition-2.jpg");
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 70vh;
}

.container-background-color-cards {
   background-color: #DDDDDD;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;
}


.sp-quote-font-style{

    font-size:1.5em;

    background-color:white;
}

.sp-container-quote-font-style{
    margin-top:100px;
    border-left:3px solid black;
    
    padding-right:0;
    background-color:white;
}


.container-background-color-cards-2 {
    background-color: rgba(200,200,200,0.3);
    border-bottom:solid white 1px;
    height: 100%;

}

.s-background-color-cards{
    background-color:rgba(255,255,255,0.4);
    border-radius:5px;
    border:3px solid rgba(255,255,255,0.5);

}

.spr-text-align{
    text-align:center;
    font-size:2em;

}

.spr-price-border{
    border:solid black 1px;
    text-align:center;
    display:block;
    border-radius:3px;
    margin:4px;
    background-color:white;
}

.s-background-color-cards:hover{
box-shadow:5px 5px 30px;
    border:3px solid rgba(180,180,180,0.8);
}



.spr-card-picture{
      width:50px;
      height:50px;
      background:transparent;

}
/*end card interface */



/*full screen monitor */
@media only screen and (min-width:768px) {


    .e-light-h1 {
        font-weight: 200;
        font-size: 4em;
    }

    .s-row-width-h1 {
        max-width: 100%;
    }

    .s-nodisplay {
        display: none;
    }

    .sp-font-style-h2{
        padding-top:20px;
        font-size:2.5em;
    }


}
