/*over-ruling styles*/
body{
    font-family: 'Montserrat', sans-serif;
    color: #00001e;
}
footer{
    color: whitesmoke;
    background-color: #565656;
}
.contactbutton {
    margin-top: 5px;
    margin-bottom: 10px;
}
.telefoon {
    margin-top: 10px;
}
.padding-footer{
    padding-top: 20px;
}
a{
    color: whitesmoke;
}
.navibarbg{
    background-color: #565656;
    z-index: 1;
}
.nav-link-color{
    color: whitesmoke !important;
}
/*==================================================================================*/
/*Css van Elia start hier */
/*styling header*/

.spr-navibarbg{
    background-color:#747474;
    position:fixed;
    width:100vw;
    z-index:3;
}



.spr-footer-bg-color{
    background-color:#747474;
    color:whitesmoke;
}


.spr-container-header {
    height: 100vh;

}

.spr-parallax-header {
    background-image: url("../img/spring-banner-head.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



.spr-opacity-grey-bg{
    background-color:rgba(120,120,120,0.6);
}

.spr-row-width-h1{
    max-width:90%;
}
.spr-light-h1 {
    font-weight:100;
    font-size: 3em;
}
/* end styling header spring */



figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.my-container1{
    border-width: 2px;
    border-color: red;
    border-style: solid;
}
.my-row1 {
    border-width: 1px;
    border-color: blue;
    border-style: dotted;
    height: 300px;
}
.my-row2 {
    border-width: 1px;
    border-color: green;
    border-style: dashed;
    height:300px;
}
.my-row3 {
    border-width: 1px;
    border-color: black;
    border-style: double;
    height: 300px;
}
.col1{
    border-width: 1px;
    border-color: yellow;
    border-style: dotted;
}
.col2{
    border-width: 1px;
    border-color: #0a072d;
    border-style: dotted;
}

.spr-parallax-header {
    background-image: url("../img/spring-banner-head.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



.spr-opacity-grey-bg{
    background-color:rgba(120,120,120,0.6);
}

.spr-row-width-h1{
    max-width:90%;
}
.spr-light-h1 {
    font-weight:100;
    font-size: 3em;
}
/* end styling header spring */

.spr-text-color{
    color:#00001e;

}

.spr-intro-text-styling{
    border-left:solid green 2px;
    padding-left:5px;
    margin-bottom: 10px;
}

/*card interface */
.spr-parallax-divider-sm {
   background-image: url("../img/spring-banner-transition.jpg");
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 5vh;
}

/*main card section spring */

.spr-container-background-color-cards-head {
    background-color:#F0F0F0;
    border-bottom:solid white 1px;
    height: 100%;

}

.spr-container-background-color-cards {
   background-color: #DDDDDD;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;

}
.spr-background-color-cards{
    background-color:rgba(255,255,255,0.4);
    border-radius:5px;
    border:3px solid rgba(255,255,255,0.5);
    min-height:75vh;
}
.spr-card-image-styling{
    width:100%;
    height:25vh;
    opacity: 0.6;
    border-radius: 2px;
}


/* end card section spring */

.spr-quote-font-style{

    font-size:1.5em;

    background-color:white;
}
.spr-container-quote-font-style{

    border-left:3px solid black;

    padding-right:0;
    background-color:white;
}

.spr-text-align{
    margin-top:20px;
    text-align:center;
    font-size:2em;

}

.spr-align-button{
  margin-left:30%;


}

.spr-background-color-cards:hover{
box-shadow:5px 5px 30px;
    border:3px solid rgba(180,180,180,0.8);
}


.spr-button-container{
    border:solid black 1px;
}

.spr-card-picture{
      width:50px;
      height:50px;
      background:transparent;

}
/*end card interface */

/* small screen media  spring */

    .s-row-width-h1 {
        max-width: 100%;
    }

    .s-nodisplay {
        display: none;
    }

}

/*css van Elia stopt hier*/
/*==================================================================================*/
/* Css van jens vanaf hier*/

#container-index{
    background-color:rgba(255,255,255,0.4);
}

#my-carousel{
    padding: 50px;
}

.car-row{
    padding: 20px;
    background-color:rgba(255,255,255,0.4);
}

#parallaxi{
    background-image: url("../img/greece-1546902_1920.jpg");
    height: 780px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallaxi2{
    background-image: url("../img/greece-1546902_1920.jpg");
    opacity: 0.7;
    height: 780px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.car-wrap {
    border: 3px black;
}

#destin{
    color: whitesmoke;
}

.innerindex {
    max-height: 650px;
}

.car-row {
    padding: 50px;
}

@media only screen and (max-width: 1199px) {
    .carousel-caption h3 {
        font-size: 24px;
    }

    .carousel-caption p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 991px) {
    .carousel-caption h3 {
        font-size: 18px;
    }

    .carousel-caption p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .carousel-caption h3 {
        font-size: 16px;
    }

    .carousel-caption p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 575px) {
    .carousel-caption h3 {
        font-size: 16px;
    }

    .carousel-caption p {
        font-size: 14px;
    }
}

.aboutus{
    background-color: whitesmoke;
    opacity: 0.6;
    margin-left: 60vh;
    width: 600px;
    height: 500px;
    border: 2px solid black;
    box-shadow: 0 3px gray;
}

.row-about{
    padding-top: 70px;
}

div.aboutus>h1{
    text-align: center;
    font-style: italic;
    color: darkblue;
    padding: 5px;
}

div.aboutus>p{
    text-align: center;
    color: darkblue;
    padding: 5px;
}

.slogan{
    color: whitesmoke;
    margin-left: 80vh;
    margin-right: 30vh;
    padding-top: 10vh;
}

.footindex{
    padding: 30px;
}

/*
.copyright{
    align-items: stretch;
    float: bottom;
}
 */
/* Css van jens stopt hier */
/* Css van isaac start hier */
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

/*css van isaac stopt hier */
/*css van paul start hier */

/*Navigation make-up */
.navibarbg{
    z-index: 1;
   /* background: linear-gradient(0deg, rgb(238, 238, 238), rgb(199, 254, 255)); */

}
.my-container1-f{
    border-width: 2px;
    border-color: red;
    border-style: solid;
}
.my-row1-f {
    border-width: 1px;
    border-color: blue;
    border-style: dotted;
}
.my-row2-f {
    border-width: 1px;
    border-color: green;
    border-style: dashed;

}
.my-row3-f {
    border-width: 1px;
    border-color: black;
    border-style: double;

}
.col1-f{
    border-width: 1px;
    border-color: yellow;
    border-style: dotted;
}
.col2-f{
    border-width: 1px;
    border-color: #0a072d;
    border-style: dotted;
}
.col3-f{
    border-width: 1px;
    border-color: #087a55;
    border-style: dotted;
}
/*parallaxes on fall page*/
.f-parallax{
    /* The image used */
    background-image: url("../img/fall.jpg");

    /* Set a specific height */
    height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f-parallax2{
    /* The image used */
    background-image: url("../img/fall2.jpg");

    /* Set a specific height */
    height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* center grid's class */
.scrollblock {
    background-color:whitesmoke;
    font-size: 18px;
}
/* footer make-up */
footer {
   /* background: -webkit-linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));
    background: linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255)); */
}
/* pop-up form make-up */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    font-family: Bahnschrift;
}
.form-container>textarea:focus {
    background-color: lightgray;
    outline: none;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 40px;
    left: 3rem;
    z-index: 2;
}
.form-bg{
    /*background: -webkit-linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));
    background: linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));*/
}
#message{
    max-height: 10em;
    width: 250px;
}

/*css van paul stopt hier */
/* CSS van peter start hier */

