/*styling header*/

body {
    font-family: 'Montserrat', sans-serif;
}

footer{
    background-color:#333333;
    color:whitesmoke;
}

.navibarbg{
    position:fixed;
    background-color:#333333;
    width:100vw;
    z-index:99;
}

.spr-container-header {
    height: 100vh;

}


figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.my-container1{
    border-width: 2px;
    border-color: red;
    border-style: solid;
}
.my-row1 {
    border-width: 1px;
    border-color: blue;
    border-style: dotted;
    height: 300px;
}
.my-row2 {
    border-width: 1px;
    border-color: green;
    border-style: dashed;
    height:300px;
}
.my-row3 {
    border-width: 1px;
    border-color: black;
    border-style: double;
    height: 300px;
}
.col1{
    border-width: 1px;
    border-color: yellow;
    border-style: dotted;
}
.col2{
    border-width: 1px;
    border-color: #0a072d;
    border-style: dotted;
}
.col1{
    border-width: 1px;
    border-color: #087a55;
    border-style: dotted;
}
.sticky {
    position: sticky;
    top: 0;
}
#logo{
    color: #050235;
}


/*styling-header Spring*/


.spr-parallax-header {
    background-image: url("../img/spring-banner-head.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



.spr-opacity-grey-bg{
    background-color:rgba(120,120,120,0.6);
}

.spr-row-width-h1{
    max-width:90%;
}
.spr-light-h1 {
    font-weight:100;
    font-size: 3em;
}
/* end styling header spring */




.spr-text-color{
    color:#00001e;

}








.spr-intro-text-styling{
    border-left:solid green 2px;
    padding-left:5px;
    margin-bottom: 10px;
}





/*card interface */
.spr-parallax-divider-sm {
   background-image: url("../img/spring-banner-transition.jpg");
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 5vh;
}

/*main card section spring */



.spr-container-background-color-cards-head {
    background-color:rgb(240,240,240);
    border-bottom:solid white 1px;
    height: 100%;

}


.spr-container-background-color-cards {
   background-color: #DDDDDD;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100%;

}

.spr-background-color-cards{
    background-color:rgba(255,255,255,0.4);
    border-radius:5px;
    border:3px solid rgba(255,255,255,0.5);
    min-height:75vh;
}

.spr-card-image-styling{
    width:100%;
    opacity: 0.5;
}

/* end card section spring */





.spr-quote-font-style{

    font-size:1.5em;

    background-color:white;
}

.spr-container-quote-font-style{

    border-left:3px solid black;

    padding-right:0;
    background-color:white;
}





.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    font-family: Bahnschrift;
}
.form-container>textarea:focus {
    background-color: lightgray;
    outline: none;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 3rem;
    z-index: 2;
}
.form-bg{
    /*background: -webkit-linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));
    background: linear-gradient(180deg, rgb(238, 238, 238), rgb(199, 254, 255));*/
}
#message{
    max-height: 10em;
    width: 250px;
}

.spr-text-align{
    margin-top:20px;
    text-align:center;
    font-size:2em;

}

.spr-price-border{
    border:solid black 1px;
    text-align:center;
    display:block;
    border-radius:3px;
    margin:4px;
    background-color:white;
}

.spr-background-color-cards:hover{
box-shadow:5px 5px 30px;
    border:3px solid rgba(180,180,180,0.8);
}



.spr-card-picture{
      width:50px;
      height:50px;
      background:transparent;

}
/*end card interface */



/* small screen media  spring */

@media only screen and (max-width:768px)   {

    .spr-hide-col-mid{
        display:none;
    }
    .spr-background-color-cards{

        min-height:0;
    }

}




/*full screen monitor */
@media only screen and (min-width:768px) {


    .spr-light-h1 {
        font-weight: 200;
        font-size: 4em;
    }

    .spr-row-width-h1 {
        max-width: 100%;
    }

    .spr-nodisplay-break {
        display: none;
    }

    .spr-font-style-h2{
        padding-top:20px;
        font-size:2em;
    }
    .spr-background-color-cards{

        min-height:80vh;
    }


}


