/*over-ruling styles*/
body{
    font-family: 'Montserrat', sans-serif;
    color: #00001e;
    height: 100%;
}
/*==================================================================================*/
/*Css van Elia start hier */
/*styling header*/

.s-container-header {
    height: 100vh;
}

.e-parallax-header {
    background-image: url("../img/spring-banner-head.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.e-light-h1 {
    font-weight: 200;
    font-size: 3em;

}

/* end styling header */

.s-opacy-grey-bg {

    background-color: rgba(120, 120, 120, 0.6);

}
.s-row-width-h1 {
    max-width: 90%;
}
/*card interface */
.e-parallax-divider-sm {
    background-image: url("../img/spring-banner-cards.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2.5vh;
}
.e-parallax-background-cards {
    background-image: url("../img/spring-banner-cards.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.card-picture {
    width: 50px;
    height: 50px;
    background: transparent;

}
/*end card interface */

/*full screen monitor */
@media only screen and (min-width: 768px) {

    .e-light-h1 {
        font-weight: 200;
        font-size: 4em;
    }

    .s-row-width-h1 {
        max-width: 100%;
    }

    .s-nodisplay {
        display: none;
    }

}

/*css van Elia stopt hier*/
/*==================================================================================*/
/* Css van jens vanaf hier*/

.my-container{
    border: 2px solid red;
}
.my-row{
    border: 2px solid blue;
}
.my-col{
    border: 2px dotted green;
    background-color: whitesmoke;
}

#navbarMenu{
    padding: 10px;
}

.navbar{
    padding: 10px;
}

#my-carousel{
    padding: 50px;
}

.car-row{
    padding: 50px;
}

.car-col{
    justify-content: center;
}

.form-popup{
    display: none;
    position: fixed;
}
/* Css van jens stopt hier */
/* Css van isaac start hier */
figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0 !important;
}

/*css van isaac stopt hier */
/*==================================================================================*/
/*css van paul start hier */

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}
/*Navigation make-up */
.navibarbg{
    background-color: whitesmoke;
    z-index: 1;
   /* background: linear-gradient(0deg, rgb(238, 238, 238), rgb(199, 254, 255)); */
}
.logo-size{
    width: 50px;
    height: 50px;
}
/* card make-up */
.f-card {

}
.f-card:hover {
    z-index:1;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}
/*parallaxes on fall page*/
.f-parallax{
    /* The image used */
    background-image: url("../img/fall3.jpg");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f-p-block-1{
    font-size: 2em;
    position: absolute;
    top: 9em;
    left: 8em;
}
.f-p-block-2{
    font-size: 2em;
    position: absolute;
    top: 10.5em;
    left: 10em;
}
.f-parallax2{
    /* The image used */
    background-image: url("../img/fall2.jpg");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* box in between parallaxes */
.scrollblock {
    background-color:whitesmoke;
    font-size: 18px;
}
/* pop-up form make-up */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.form-container>textarea:focus {
    background-color: lightgray;
    outline: none;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    z-index: 2;
}
.form-bg{
    background-color: #a40000;
}
#message{
    max-height: 10em;
    width: 250px;
}

/*css van paul stopt hier */
/*==================================================================================*/
/* CSS van peter start hier */
